@model List<DVDLibrary.Models.DVD>

@{
    ViewBag.Title = "_DVDCount";
}

   <table class="table table-bordered">
        <tbody>
            <tr>
               <td id="dvdCount">Current DVD's In Library: @Model.Count</td>
            </tr>
        </tbody>

    </table>
    
    