
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_CreateContactModal")
    </div>
</div>
<div class="row">
    <h2>All Contacts</h2>
    <table id="contacts" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        var uri = '/api/contacts';

        $(function () {
            loadContacts();

        });

        function loadContacts() {
            $.getJSON(uri)
            .done(function (data) {
                //clear the table
                $("#contacts tbody tr").remove();

                //on success, "data" contains a list of contacts
                $.each(data, function (index, contact) {
                    //add a table row for the contact
                    $(createRow(contact)).appendTo($('#contacts tbody'));
                });
            })
        }

        function createRow(contact) {
            return '<tr><td>' + contact.ContactId + '</td><td>' +
                contact.Name + '</td><td>' + contact.PhoneNumber + '</td></tr>';
        }

    </script>
    <script src="~/Scripts/app/createContact.js"></script>
}

