@model DVDLibrary.Models.DVD


@{
    ViewBag.Title = "DeleteDVD";
}

<h2>Delete DVD</h2>

<h2>Confirmation</h2>

<div class="row">
    <div class="col-xs-12">
        <h3>Delete DVD</h3>
        @Html.ActionLink("Return to DVD List", "ViewDVDList", "Home")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(d => d.DVDId)
            <p>Are you sure that you wish to delete the DVD: @Html.DisplayFor(d => d.Title)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ViewDVDList", "Home", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>   