@model HR_Portal.Models.Data.Category
@{
    ViewBag.Title = "Delete Category";
}

<h2>Confirmation</h2>

<div class="row">
    <div class="col-xs-12">
        <h3>Delete State</h3>
        @Html.ActionLink("Return to Category List", "ManageCategories", "Home")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(c => c.CategoryId)
            <p>Are you sure that you wish to delete the category called: @Html.DisplayFor(c => c.CategoryName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ManageCategories", "Home", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>
