@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR Portal</h1>
    <p class="lead">Welcome to HR Portal.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please select from the menu options above.
        </p>
    </div>
</div>